html { 
    background: url(https://imageupload.io/ib/BSUejHGhnaglJ78_1696627735.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'ADLaM Display', cursive;
    font-family: 'Josefin Sans', sans-serif;
    animation: zoominandout 8s infinite alternate;
}

@keyframes zoominandout {
    from {
      background-size: 110% 110%;
    }
    to {
      background-size: 100% 100%;
    }
}