/*CSS PARA EL HOME, FONDO NO ANIMADO*/

html { 
    background: url(https://imageupload.io/ib/BSUejHGhnaglJ78_1696627735.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'ADLaM Display', cursive;
    font-family: 'Josefin Sans', sans-serif;
    
}